/* ---------- STAT CARDS ---------- */

.statCard{

background:white;

border-radius:22px;

padding:25px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

transition:.35s;

cursor:pointer;

}

.statCard:hover{

transform:translateY(-8px);

box-shadow:0 25px 45px rgba(37,99,235,.18);

}

.statIcon{

width:70px;

height:70px;

border-radius:20px;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.statTitle{

font-size:14px;

color:#64748b;

margin-bottom:8px;

}

.statValue{

font-size:32px;

font-weight:700;

}

/* ---------- FEATURE CARD ---------- */

.featureCard{

background:white;

border-radius:22px;

padding:35px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

transition:.35s;

cursor:pointer;

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

}

.featureCard:hover{

transform:translateY(-10px);

}

.featureIcon{

width:90px;

height:90px;

border-radius:50%;

background:#eff6ff;

display:flex;

justify-content:center;

align-items:center;

margin-bottom:20px;

color:#2563eb;

}

.featureCard h2{

margin-bottom:15px;

}

.featureCard p{

color:#64748b;

line-height:1.7;

margin-bottom:25px;

}

.featureCard button{

background:#2563eb;

color:white;

border:none;

padding:12px 24px;

border-radius:12px;

font-size:15px;

}

/* ---------- DATASET CARD ---------- */

.datasetCard{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

transition:.35s;

text-align:center;

}

.datasetCard:hover{

transform:translateY(-10px);

}

.datasetCard h3{

margin:20px 0;

}

.datasetInfo{

display:flex;

justify-content:space-around;

margin-bottom:20px;

font-weight:600;

color:#64748b;

}

.datasetCard button{

background:#2563eb;

color:white;

border:none;

padding:14px 22px;

border-radius:12px;

}

/* ---------- UPLOAD ---------- */

.uploadBox{

background:white;

border:3px dashed #2563eb;

border-radius:24px;

padding:70px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

cursor:pointer;

transition:.35s;

}

.uploadBox:hover{

background:#eff6ff;

transform:scale(1.02);

}

.uploadBox h2{

margin-top:25px;

margin-bottom:10px;

}

.uploadBox p{

color:#64748b;

}

/* ---------- LOADER ---------- */

.loaderContainer{

display:flex;

justify-content:center;

align-items:center;

padding:80px;

}

.loader{

width:70px;

height:70px;

border:8px solid #dbeafe;

border-top:8px solid #2563eb;

border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}