.results-page{

    padding:40px;

    background:#f5f7fb;

    min-height:100vh;

}

.resultsGrid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

    margin-top:35px;

}

.resultCard{

    background:white;

    padding:35px;

    border-radius:22px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.3s;

}

.resultCard:hover{

    transform:translateY(-8px);

}

.resultCard svg{

    color:#2563eb;

    margin-bottom:20px;

}

.resultCard h2{

    margin-bottom:15px;

}

.resultCard p{

    color:#64748b;

}

.downloadCard{

    background:white;

    margin-top:45px;

    padding:45px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.downloadCard svg{

    color:#22c55e;

}

.downloadCard h2{

    margin-top:20px;

}

.downloadCard p{

    color:#64748b;

    margin:15px 0 30px;

}

.downloadCard button{

    background:#2563eb;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:12px;

    display:inline-flex;

    gap:10px;

    align-items:center;

    cursor:pointer;

    transition:.3s;

}

.downloadCard button:hover{

    background:#1d4ed8;

}