.sidebar{

position:fixed;

left:0;

top:0;

width:280px;

height:100vh;

background:linear-gradient(180deg,#0f172a,#111827);

display:flex;

flex-direction:column;

justify-content:space-between;

padding:28px;

color:white;

box-shadow:5px 0 30px rgba(0,0,0,.25);

animation:slideLeft .5s ease;

z-index:100;

}

.logo{

display:flex;

align-items:center;

gap:16px;

margin-bottom:40px;

}

.logoIcon{

width:60px;

height:60px;

border-radius:18px;

background:linear-gradient(135deg,#2563eb,#38bdf8);

display:flex;

align-items:center;

justify-content:center;

font-size:26px;

font-weight:bold;

box-shadow:0 15px 35px rgba(37,99,235,.4);

}

.logo h2{

font-size:28px;

margin-bottom:2px;

}

.logo span{

font-size:13px;

color:#94a3b8;

}

nav{

display:flex;

flex-direction:column;

gap:10px;

}

.menu{

display:flex;

align-items:center;

gap:16px;

padding:16px;

border-radius:16px;

color:#cbd5e1;

transition:.3s;

font-weight:600;

}

.menu:hover{

background:#1e293b;

color:white;

transform:translateX(8px);

}

.active{

background:linear-gradient(90deg,#2563eb,#3b82f6);

color:white;

box-shadow:0 10px 30px rgba(37,99,235,.35);

}

.storageCard{

margin-top:25px;

background:#1e293b;

border-radius:18px;

padding:20px;

text-align:center;

}

.storageCard h4{

margin:12px 0;

}

.progress{

height:10px;

background:#334155;

border-radius:10px;

overflow:hidden;

margin:15px 0;

}

.progressFill{

height:100%;

width:28%;

background:linear-gradient(90deg,#38bdf8,#2563eb);

border-radius:10px;

}

.storageCard small{

color:#94a3b8;

}

.profileCard{

margin-top:25px;

display:flex;

align-items:center;

gap:15px;

background:#1e293b;

padding:18px;

border-radius:18px;

}

.profileCard small{

color:#94a3b8;

}

.logout{

margin-top:25px;

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#ef4444;

color:white;

font-weight:600;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

transition:.3s;

}

.logout:hover{

background:#dc2626;

transform:translateY(-3px);

}
/*-------------------------
RESPONSIVE
-------------------------*/

@media(max-width:1100px){

.sidebar{

width:95px;

padding:20px;

}

.logo h2,
.logo span,
.menu span,
.storageCard,
.profileCard h4,
.profileCard small{

display:none;

}

.logo{

justify-content:center;

}

.menu{

justify-content:center;

}

.profileCard{

justify-content:center;

padding:14px;

}

.logout{

font-size:0;

}

.logout svg{

margin:0;

}

.main{

margin-left:95px;

width:calc(100% - 95px);

}

}

@media(max-width:768px){

.sidebar{

position:relative;

width:100%;

height:auto;

}

.main{

margin-left:0;

width:100%;

}

}